.navbar .navbar-brand-wrapper {
    @apply !twx-p-0;
}

.navbar-toggler {
    @apply !twx-px-6;
}

.navbar-toggler.left-toggler{
    @apply twx-hidden lg:twx-block;
}
.navbar .navbar-brand-wrapper .navbar-brand.mobile {
    @apply lg:twx-hidden;
}

.navbar .navbar-brand-wrapper .navbar-brand {
    @apply twx-flex !twx-items-start;
}

.navbar .navbar-brand-wrapper .navbar-brand img.first {
    @apply twx-object-contain !-twx-ml-[20px];
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: none;
}
.navbar .navbar-brand-wrapper .navbar-brand.mobile img,
.navbar .navbar-brand-wrapper .navbar-brand img.second {
    @apply !twx-object-contain !twx-max-w-[140px] !twx-h-[28px] !twx-w-[140px];
}
@media (min-width: 992px) {
    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo-mini {
        display: flex;
    }
}
@media (max-width: 991px) {
  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
    display: none;
  }
  .navbar .navbar-brand-wrapper .navbar-brand.mobile{
    display: block;
    @apply !twx-ml-[0px]
  }
}

.spinner-wrapper{
    @apply twx-z-[100] twx-flex twx-flex-col;

}

.content-is-loading{
    @apply twx-opacity-[.5] ;
}


button.btn-sm.xs {
    @apply twx-px-[8px] twx-py-[2px] twx-font-normal
}
button.btn {
    @apply !twx-flex !twx-items-center
}
button.btn > svg {
    @apply twx-w-[18px] twx-mr-[1]
}

form.rjsf ul.file-info {
    @apply twx-list-none twx-border twx-border-solid twx-border-gray-200
}
.json-form  input.form-control-file{
    @apply twx-hidden
}
form.rjsf ul.file-info > li.upload-items{
    @apply twx-flex twx-gap-2 twx-flex-row twx-relative twx-items-start 
}



form.rjsf ul.file-info > li.upload-items > .btn feather.sm{
    @apply !twx-w-[18px]
}
form.rjsf ul.file-info > li.upload-items > .btn.sm{
    @apply twx-px-2 twx-py-1
}
form.rjsf ul.file-info > li.upload-items > .top-action-btn-container.empty{
    @apply !twx-justify-start
}
form.rjsf ul.file-info > li.upload-items > .top-action-btn-container{
    @apply twx-absolute twx-flex twx-justify-end twx-w-full twx-items-center twx-px-2 twx-py-4
}
form.rjsf ul.file-info > li.upload-items > .file-preview-container
{
    @apply twx-flex-grow twx-flex twx-flex-col
}
form.rjsf ul.file-info > li.upload-items > .file-preview-container > .file-container{
    @apply twx-rounded twx-rounded-md twx-overflow-hidden twx-mb-2 twx-p-4
}
form.rjsf ul.file-info > li.upload-items > .file-preview-container > .file-container > img{
    @apply !twx-max-w-[480px]
}
form.rjsf ul.file-info > li.upload-items > .file-preview-container > .description-container{
    @apply twx-p-4
}

/*form.rjsf ul.file-info > li.upload-items > .btn-delete{
    @apply twx-border-solid twx-border-gray-100 twx-flex-none twx-grow-0
}
*/
.sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon{
    @apply twx-mb-0
}

.row-data-display .heading{
    @apply twx-text-2xl twx-text-center twx-py-4 twx-mb-8
}
.row-data-display .row-data-display-wrap {
    @apply twx-flex twx-flex-col twx-text-sm

}
.row-data-display .row-data-display-wrap .row-data-display-item{
    @apply twx-flex twx-gap-2 twx-p-2 twx-border-b twx-border-gray-200 twx-overflow-hidden

}

.row-data-display .prop-wrap{
    @apply twx-font-bold twx-min-w-[140px] twx-text-left
}
.row-data-display .value-wrap{
    @apply twx-p-2 twx-text-left twx-text-balance

}
.row-data-display .value-wrap .image-wrap {
    @apply twx-h-[200px] twx-overflow-hidden
}
.row-data-display .value-wrap .image-wrap .prop-image{
    @apply twx-w-full twx-h-auto twx-object-cover
}
textarea.form-control{
/*    @apply twx-*/
}
.form-check{
    @apply twx-flex twx-items-center
}
.form-check  .form-check-label{
/*    @apply !twx-ml-1*/
}

.form-check-input{
    @apply twx-m-0 twx-block
}